
h1 {
  text-align: center;
  font-size: 4em; /* 40px/16=2.5em */
  font-family: copperplate;
  color: #191970;
  /* opacity: 1;*/
}
h2 {
  text-align: center;
  font-size: 3em; /* 40px/16=2.5em */
  font-family: copperplate;
  color: #663399;
  /* opacity: 1;*/
}
h3 {
  font-size: 2em; /* 40px/16=2.5em */
  font-family: cursive;
  color: #663399;
  /* opacity: 1;*/
}

li {
  font-size: 1.5em; /* 40px/16=2.5em */
  font-family: optima;
    color: #0052cc;
    opacity: 1;
}
a {
  font-size: 1.5em; /* 40px/16=2.5em */
  font-family: optima;
  color: #FF69B4;
  opacity: 1;
}
p {
  font-size: 1.5em; /* 40px/16=2.5em */
  font-family: optima;
  color: #0052cc;
  opacity: 1;
}
body {
  font-family: sans-serif;
  background-color: #e6f0ff;
  max-width: 40em;
  padding: 0 5%;
  margin: 0 auto;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
 
